<md-toolbar class="md-tall md-accent">
  <span flex></span>
  <div layout="column" class="md-toolbar-tools-bottom inset">
    <span>Channels list</span>
  </div>
</md-toolbar>
<md-list flex>
  <md-list-item class="md-1-line" ng-repeat="channel in leftMenu.channels" ng-click="leftMenu.enterChannel(channel._id)">
    <md-icon md-svg-icon="communication:ic_messenger_24px" ng-class="{'md-primary': leftMenu.channelActive(channel._id)}"></md-icon>
    <p>
      <span class="prefix">#</span>
      {{channel.label}}
    </p>
    <md-icon md-svg-icon="content:ic_clear_24px"
    ng-click="deleteChannel(channel._id)"
    aria-label="Delete channel" class="md-secondary md-hue-3">
  </md-icon>
</md-list-item>
</md-list>
<md-divider></md-divider>
<form ng-submit="addChannel(newChannel); newChannel='';">
  <md-input-container flex>
    <label>Create a channel</label>
    <input ng-model="newChannel.label">
  </md-input-container>
</form>
