<md-toolbar class="md-tall md-accent">
  <span flex></span>
  <div layout="column" class="md-toolbar-tools-bottom inset">
    <span>Channels list</span>
  </div>
</md-toolbar>
<md-list flex>
  <md-list-item class="md-1-line" ng-repeat="channel in channels" ng-click="enterChannel(channel._id)">
    <p>
      <span class="prefix">#</span>
      {{channel.label}}
    </p>
    <md-icon md-svg-icon="communication:ic_messenger_24px"
        ng-click="doSecondaryAction($event)"
        aria-label="Open Chat" class="md-secondary md-hue-3"
        ng-class="{'md-primary': channelActive(channel._id)}">
    </md-icon>
  </md-list-item>
 </md-list>
 <md-divider ></md-divider>
 <form ng-submit="addChannel(newChannel); newChannel='';">
   <md-input-container flex>
     <label>Create a channel</label>
     <input ng-model="newChannel.label">
   </md-input-container>
</form>
