
    <ul class="collection" ng-repeat="channel in channels">
      <a href="/channels/{{channel._id}}" class="collection-item">
        <span class="prefix">#</span>
        {{channel.label}}
        <span class="badge">1</span>
      </a>
    </ul>
    <div class="listings_direct-messages"></div>
    <p class="disclaimer">This demo is not created by, affiliated with, or supported by Slack Technologies, Inc.</p>
    <form class="col s12"  ng-submit="addChannel(newChannel); newChannel='';">
       <div class="input-field">
         <input id="new_channel" type="text" class="validate" ng-model="newChannel.label">
         <label for="new_channel">Create a channel</label>
        </div>
   </form>
