<!-- Page Layout here -->
<div layout="column" style="height:500px;">
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-content layout-padding>
        <!-- Grey navigation panel -->
        <ng-include src="'client/views/channels/channels.ng.html'"></ng-include>
      </md-content>
    </md-sidenav>

    <md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <!-- Teal page content  -->
        <ng-include src="'client/views/messages/messages.ng.html'"></ng-include>
      </div>
    </md-content>

  </section>
</div>
