
  <div class="row">
    <div class="col s12">
      <div class="card big">

        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#test1">Sign In</a></li>
          <li class="tab col s3"><a href="#test2">Sign Up</a></li>
        </ul>
        <div id="test1" class="col s12">
          <div class="card-content">

          <form class="s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="user_name" type="text" class="validate" ng-model="username">
                <label for="user_name">User Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" ng-model="passwd">
                <label for="password">Password</label>
              </div>
            </div>
          </form>
          </div>
          <div class="card-action">
            <a href="#" class="right" ng-click="signIn(username, passwd);">Login</a>
          </div>
        </div>
        <div id="test2" class="col s12">
          <div class="card-content">

            <form class="s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="user_name" type="text" class="validate" ng-model="username">
                  <label for="user_name">User Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="text" class="validate" ng-model="email">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" ng-model="passwd">
                  <label for="password">Password</label>
                </div>
              </div>
            </form>

          </div>
          <div class="card-action">
            <a href="#" class="right" ng-click="signUp(username, email, passwd);">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
