<md-list>
   <md-subheader class="md-no-sticky">Messages :</md-subheader>
   <md-list-item class="md-2-line" ng-repeat="message in messages">
     <div class="md-list-item-text">
        <h3>{{username(message.user)}} : </h3>
        <p>> {{message.text}}</p>
      </div>
   </md-list-item>
 </md-list>
 <md-divider ></md-divider>

<form ng-submit="sendMessage(newMessage); newMessage='';">
  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Send a message</label>
      <input ng-model="newMessage.text">
    </md-input-container>
    <md-button class="md-icon-button" aria-label="Send message" type="submit" name="action">
        <md-icon md-svg-icon="content:ic_send_24px"></md-icon>
      </md-button>
  </div>

</form>
